@charset "utf-8";
@use "sass:color";
@use "bulma/sass/base";
@use "bulma/sass/base/skeleton";
@use "bulma/sass/components/card";
@use "bulma/sass/components/menu";
@use "bulma/sass/components/modal";
@use "bulma/sass/components/navbar";
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/notification";
@use "bulma/sass/elements/progress";
@use "bulma/sass/elements/tag";
@use "bulma/sass/form/input-textarea";
@use "bulma/sass/layout/footer";
@use "bulma/sass/themes";
@use "bulma/sass/utilities";

body {
  background-color: var(--bulma-background);
}
.navbar-container {
  background-color: var(--bulma-scheme-main);
}
.footer {
  background-color: var(--bulma-scheme-main);
}
:root {
  --va-code-block-bg: var(--bulma-code-background);
  --bulma-link-text: hsl(207, 61%, 53%);
}

#nprogress {
  pointer-events: none;

  .bar {
    background: var(--bulma-info);
    opacity: 0.75;
    position: fixed;
    z-index: 1024;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }
}
