:root {
  --yun-sidebar-bg-color: var(--va-c-bg-light);
  --yun-sidebar-bg-img: url(https://r2.lihaoyu.cn/alpha-stars-timing-1.webp);
}

iframe.bilibili-video {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
}

canvas.fireworks {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 114514;
  pointer-events: none;
}

:root {
  --smc-font-sans: "Noto Sans SC", Raleway, -apple-system, "PingFang SC", "Microsoft YaHei",
    Arial, sans-serif;
  --smc-font-serif: "Noto Serif SC", STZhongsong, STKaiti, KaiTi,
    Roboto, serif;
  --smc-font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-family: "Noto Sans SC";
}
/* todo
.wl-captcha-container {
  width: 100px;
  margin-right: 10px;
}
*/
// your-theme/styles/index.scss
#nprogress {
  pointer-events: none;

  .bar {
    background: var(--va-c-primary);
    opacity: 0.75;
    position: fixed;
    z-index: 1024;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  /* box-shadow: 0 0 10px #ffc107, 0 0 5px #ffc107; */
  box-shadow: 0 0 10px var(--va-c-primary), 0 0 5px var(--va-c-primary);
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px,-4px);
  -ms-transform: rotate(3deg) translate(0px,-4px);
  transform: rotate(3deg) translateY(-4px)
}