:root {
  --yun-sidebar-bg-color: var(--va-c-bg-light);
  --yun-sidebar-bg-img: url(https://r2.lihaoyu.cn/alpha-stars-timing-1.webp);
}

iframe.bilibili-video {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
}

canvas.fireworks {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 114514;
  pointer-events: none;
}